@import "tailwindcss";

html,
body {
    margin: 0;
    min-height: 100dvh;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

/* Classes */

.serif-font {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}


.code-font {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
}