---
import WhiteSection from "../WhiteSection.astro";
---

<WhiteSection id="contacts">
    <div class="flex flex-col gap-8 justify-items-center items-center">
        <p class="text-3xl md:text-4xl p-8 serif-font text-balance text-center">📞 Let's get in touch!</p>
    </div>
    <div class="window w-full p-8">
        <div class="title-bar flex justify-between bg-neutral-800 rounded-t-lg">
            <p class="title code-font font-bold flex justify-center items-center p-4">Contact Me</p>
</WhiteSection>