---
import BlackSection from "../BlackSection.astro";


---

<BlackSection id="intro">
    <div class="flex flex-col gap-8 justify-items-center items-center">
        <p class="text-3xl p-8 serif-font">I'm a University student who has primarily worked on <span class="code-font text-2xl p-2">#WebDevelopment</span> and <span class="code-font text-2xl p-2">#AndroidDevelopment</span> <br> and is now pursuing <span class="code-font text-2xl p-2">#DevOps</span> .</p>
    </div>
</BlackSection>

<style scoped>
    span.code-font {
        color: cyan;
    }

    p {
        line-height: 1.5;
    }
</style>