<nav class="flex justify-center md:justify-between fixed top-0 w-full bg-white mix-blend-difference">
    <ul class="flex gap-4 p-4">
        <li><a href="#" class="code-font">Home</a></li>
        <li><a href="#projects" class="code-font">/Projects</a></li>
        <li><a href="#blog" class="code-font">/Blog</a></li>
        <li><a href="#contacts" class="code-font">/Contacts</a></li>
    </ul>
    <a class="p-4 hidden md:block" href="https://github.com">@maybejaishkhan</a>
</nav>